.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rhistory
mIBA_package.Rproj
fwdrecurrentbiasesandsolutionsintrackingstudies/
track2kba/
all_orig_dev_files/
Biologging_conference/
data/
figures/
geodata/
J_Handley_SGPew_Manuscript/
Lascelles_16/
manuscript
notes/
scripts/
test_data/
vignette/
